/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url('../images/cover-image-dark.png');
  --main-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --menu-color: var(--accent-color);
  --decorated-text-color: var(--background-color);
  --heading-color: var(--accent-color);
  --border-color: var(--accent-color);
  --border-hover-color: rgba(255 0 112 / 0.4);
}

.theme-dark .mark {
  display: flex;
}
