/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url('../images/cover-image-light.png');
  --main-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --background-color: #fff1f7;
  --menu-color: var(--text-color);
  --decorated-text-color: var(--text-color);
  --heading-color: var(--text-color);
  --border-color: var(--text-color);
  --border-hover-color: rgba(50 49 45 / 0.4);
}

.theme-light .mark {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url('../images/cover-image-light.png');
    --main-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --background-color: #fff1f7;
    --menu-color: var(--text-color);
    --decorated-text-color: var(--text-color);
    --heading-color: var(--text-color);
    --border-color: var(--text-color);
    --border-hover-color: rgba(50 49 45 / 0.4);
  }

  .mark {
    display: none;
  }
}
