/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-inline: var(--content-padding);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: normal;
  color: var(--text-color);
}

.header {
  block-size: 100dvb;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-content: start;
  padding-block: var(--content-padding);
  margin-block-end: var(--content-margin);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  position: absolute;
  left: 0;
  bottom: var(--content-padding);
}

.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  position: absolute;
  top: var(--content-padding);
  right: 0;
}

.mark {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--accent-color);
  line-height: 25px;
  text-transform: uppercase;
  position: absolute;
  top: var(--content-padding);
  right: 9px;
}

.mark::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  border: 1px solid transparent;
  padding-inline: 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

/* .header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
} */

.header__title {
  color: var(--main-color);
  font-size: var(--main-font-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: bold;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--content-gap);
  margin-block-end: var(--content-margin);
}

.section__title {
  font-size: 18px;
  color: var(--accent-color);
  margin-block-end: 20px;
}

.section__article:not(:last-of-type) {
  margin-block-end: 20px;
}

.section__article-title {
  font-size: 18px;
  margin-block-end: 10px;
}

.section__article-title + .section__article-title {
  margin-block-start: 20px;
}

.section__article-text + .section__article-text {
  margin-block-start: 10px;
}

.accent {
  font-weight: normal;
}

.article__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.article__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.article__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery img {
  inline-size: 100%;
}

.footer {
  block-size: 100vb;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__title {
  font-size: var(--main-font-size);
  line-height: 82.5%;
  color: var(--main-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width>=768px) {
  .header__about {
    width: calc((100% - 2 * var(--content-padding)) / 2);
    justify-self: end;
  }
}

@media (width>=1024px) {

}