/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3em;
  background-color: var(--background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: start;
  align-items: center;
  margin-block-end: var(--content-margin);
  padding: var(--content-padding);
  block-size: 100vb;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: var(--content-padding);
  left: var(--content-padding);
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: var(--content-padding);
  right: var(--content-padding);
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
  inline-size: 25px;
  block-size: 25px;
}

.mark {
  position: absolute;
  top: var(--content-padding);
  right: calc(9px + var(--content-padding));
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  line-height: 1.4em;
  text-transform: uppercase;
}

.mark::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  color: var(--menu-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--border-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-color);
  cursor: pointer;
}

.header__title {
  color: var(--main-color);
  font-size: var(--main-font-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.decorated-text {
  color: var(--decorated-text-color);
  font-weight: bold;
  background-color: var(--accent-color);
}

.content {
  padding-inline: var(--content-padding);
  margin-block-end: var(--content-margin);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--title-gap);
  margin-block-end: var(--section-margin);
}

.section__title {
  color: var(--heading-color);
  font-size: 18px;
}

.section__article:not(:last-of-type) {
  margin-block-end: 20px;
}

.section__article-title {
  font-size: 18px;
}

.section__article-title + .section__article-title {
  margin-block-start: 20px;
}

.section__article-text {
  margin-block-start: 10px;
}

.article__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.article__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.article__link:focus {
  outline: none;
}

.article__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.accent {
  font-weight: normal;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row dense;
  gap: 10px;
}

.gallery__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  padding-inline: var(--content-padding);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vb;
  min-block-size: 668px;
}

.footer__title {
  color: var(--main-color);
  font-size: var(--main-font-size);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
  }

  .header__about {
    justify-self: end;
    inline-size: calc(100% / 2);
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section__title {
    grid-column: 1;
  }

  .section__article-list {
    grid-column: 2 / -1;
  }

  .large-section .section__article-list {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery .section__article-title {
    grid-column: 1 / span 3;
  }

  .gallery__image:nth-child(2) {
    grid-column: 1 / span 2;
  }

  .gallery__image:nth-child(3) {
    grid-column: 3;
    grid-row: 2 / span 2;
  }

  .gallery__image:nth-child(4) {
    grid-column: 1;
    grid-row: 3 / span 2;
  }

  .gallery__image:nth-child(6) {
    grid-column: 2 / span 2;
    grid-row: 4;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section-reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--title-gap);
  }
}
