/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --cover-image: url('../images/cover-image-dark.png');
  --main-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --menu-color: var(--accent-color);
  --decorated-text-color: var(--background-color);
  --heading-color: var(--accent-color);
  --border-color: var(--accent-color);
  --border-hover-color: rgba(255 0 112 / 0.4);
  --main-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-gap: 20px;
  --content-padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --section-margin: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
  --content-margin: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

@media (width >= 768px) {
  :root {
    --main-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
