/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --cover-image: url('../images/cover-image-dark.png');
  --main-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --border-hover-color: rgba(255 0 112 / 0.4);
}